.main{
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: 100%;
  padding-bottom: 5rem;
  width: 100%;

  .main-wrap{
    text-align: center;
    width: 100%;

    .logo {
      width: 100%;

      img {
        width: 70%;
      }
    }

    .search {

      &>div{
        width: 70% !important;
      }
    }
  }
}

@media (orientation:landscape) {
  .main{
    padding-bottom: 15rem;

    .main-wrap{

      .logo {

        img{
          width: 30%;
        }
      }

      .search {

        &>div{
          width: 30% !important;
        }
      }
    }
  }
}