.main{
  align-items: center;
  border: 2px solid red;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  min-height: 100%;
  padding-bottom: 5rem;
  width: 100%;

  .main-wrap{
    text-align: center;
    width: 100%;

    .logo {
      border: 2px solid blue;
      box-sizing: border-box;
      width: 100%;

      img {
        width: 50%;
      }
    }

    .search {
      border: 2px solid blue;
      box-sizing: border-box;
    }
  }
}